body {
    font-family: Arial, sans-serif;
    background-color: #E0FFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    text-align: center;
    color: darkblue;
}
